---
// ListProjectModal.astro
---

<div class="modal" id="listProjectModal">
  <article>
    <a href="#close" aria-label="Close" class="close"></a>
    <h3>Proyectos</h3>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Gerente</th>
        </tr>
      </thead>
      <tbody id="projectsList">
        <!-- Projects will be populated here -->
      </tbody>
    </table>

    <div>
      <a href="#close" role="button">Cerrar</a>
    </div>
  </article>
</div>
