---
interface Props {
	icon: string;
	title: string;
	description: string;
}

const { icon, title, description } = Astro.props;
---

<article style={{ textAlign: 'center' }}>
	<div style={{ fontSize: '1.5rem', marginBottom: '0.5rem' }}>
		{icon}
	</div>
	<h3>{title}</h3>
	<p>{description}</p>
</article>
